::-webkit-scrollbar { width:12px; height:0 }
::-webkit-scrollbar-track-piece { background:#eee; -webkit-border-radius:3px; border-top-left-radius:3px 3px; border-top-right-radius:3px 3px; border-bottom-right-radius:3px 3px; border-bottom-left-radius:3px 3px }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display:block; height:1px }
::-webkit-scrollbar-button:vertical:increment { background:#fff }
::-webkit-scrollbar-track-piece { background:#eee; -webkit-border-radius:3px }
::-webkit-scrollbar-thumb:vertical { height:50px; background:#ccc; -webkit-border-radius:3px }
::-webkit-scrollbar-thumb:horizontal { width:50px; background:#ccc; -webkit-border-radius:3px }

body {
  width:350px;
  min-width:250px;
  max-width:350px;
  overflow-x:hidden;
  font-family:Helvetica, sans-serif;
  font-size:84%;
}

#popup {
  white-space:nowrap;
  max-width:340px;
  overflow:hidden;
}

dt.window {
  padding:4px 6px;
}

dt.window h3 {
  padding:4px 6px;
  background:#eee;
  color:#333;
  font-weight:bold;
  text-shadow:0 1px 0 white;
  -webkit-border-radius:5px;
}

dt.window.focused h3 {
  background:#eef;
}

dt.window .num {
  font-size:75%;
  color:#666;
}

p.tab {
  border-bottom:1px solid #ccc;
  font-size:88%;
  margin:0;
  padding:6px 0;
}

p.tab, p.tab > * {
  cursor:pointer;
}

p.tab:hover {
  background:#eee;
}

p.tab.active, p.tab.active:hover {
  background:#eef;
}

p.tab:last-child {
  border-bottom-style:none;
}

img.icon {
  float:left;
  width:16px;
  height:16px;
  padding:0 5px 0;
}

span.title, span.url {
  display:block;
}

span.url {
  font-size: 88%;
  color:gray;
}
